<header>
  <div class="container">
    <nav>
      <h1>Blog App</h1>
      <div class="nav-links">
        <a href="/" class="btn">Home</a>
        <a href="api/posts" class="btn">Posts</a>
        <% if(locals.user) { %>
        <a href="/api/auth/dashboard" class="btn">Profile</a>
        <a href="/api/posts/create" class="btn">Create a Post</a>
        <form action="/api/auth/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <%} else { %>
        <a href="api/auth/register" class="btn">Register</a>
        <a href="api/auth/login" class="btn">Login</a>
        <% } %>
      </div>
    </nav>
  </div>
</header>
